/*Outer space color palette, from adobe cc*/
/*
#2b448c
#2a558c
#5ab8f3
#a0e3f2
#0d0d0d
*/
body {
  background-color: #5ab8f3;
}

h1, h2, h3 {
  font-family: 'Droid Serif' Times Serif;
  color: #0d0d0d;
}

h1 {
  font-size: 3em;
}

.highlight {
  border: 5px solid #a0e3f2;
  border-radius: 2px;
}

p > div {
  margin: auto;
}

div > img {
  width: 400px;
  height: 300px;
  margin: auto;
  padding: 15px;
}

#image1 {
  position: relative;
  float: left;
  display: inline;
}

#image2 {
  position: relative;
  display: inline;
  float: right;
}

canvas {
  display: block;
  margin: 10px;
}

footer {
  position: bottom;
  margin: auto;
}

header {
  background-color: #2a558c;
}

p {
  margin-top: 5px;
}
